#apoyl-so-so360{white-space:nowrap;text-align:center;margin-top:20px;margin-bottom:20px;}
#apoyl-so-so360 form{margin:0;padding:0}
#apoyl-so-so360_keyword{width:60%;height:24px;line-height:24px;font:14px arial;padding:
2px 5px;margin-right:5px;border:2px solid #3EAF0E;outline:0;vertical-align:middle;}
#apoyl-so-so360_submit{width:70px;height:32px;line-height:32px;border:0;color:#fff;
background:#3FB30E;font-weight:bold;font:bold 14px arial;padding:0;
padding-top:3px\9;cursor:pointer;
vertical-align:middle}

